body {
    background-color: #eee;
}

.project-heading {
    width: 100vw;
    align-items: center
}

.project-heading h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.project-end h1 {
    font-size: 4rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

#window {
    height: 100%;
    width: 100%;
    margin-top: 0;
}

.phone-container {
/*    flex: 1;*/
/*    display: flex;*/
/*    flex-direction: column;*/
    width: 40%;
}

.phone-container img {
    width: 100%;
}

.btn-container {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    align-items: center;
    width: 30vw;
    margin-left: 35vw;
}

.btn-google {
    flex: 1;
}

.btn-apple {
    flex: 1;
}

.btn-google img {
    width: 75%;
}

.btn-apple img{
    width: 66%;
}

textarea {
    font-size: 1.8rem;
    min-height: 320px;
}

.notepad-container {
    flex: 1;
    width: 100%;
}


/*Media Rules*/

@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    
    .phone-container {
        width: 100%;
        text-align: center;
    }
    
    .phone-container img {
        width: 65%;
    }
    
    .btn-container {
        width: 40vw;
        margin-left: 30vw;
    }
    
    .btn-google img {
        width: 100%;
    }

    .btn-apple img{
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    
    .project-heading h1 {
        font-size: 3rem;
    }
    
    .project-end h1 {
        font-size: 3rem;
    }
    
    p {
        text-align: center;
        font-size:  1.5rem;
    }
    
    .btn-container {
        width: 60vw;
        margin-left: 20vw;
    }
}

/*End Media Rules*/